# not Directory .vscode
/.vscode

#no file .jpg
#.gitignore
*.jpg
*.phg
!git_file_status_lifecycle.jpg
!python_developer.jpg
!logo_github.png
!logo_python.png
!powerPoint.png!
logo_telegram.png
!v3-1.jpg
!v4-1.jpg
!v4-2.jpg
!v4-3.jpg
TokenKey.txt